<h1>{{componentName}}</h1>
<button (click)="onHandleClick()">Click</button>
{{isStatus}}
<input [(ngModel)]="productName">
<p>{{ productName }}</p>

<div *ngIf="isStatus">
    <table class="table">

        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Trạng thái</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <!-- directive -->
            <tr *ngFor="let products of productLits; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{products.name}}</td>
                <td>{{products.price}}</td>
                <td>{{products.status? "Còn hàng" : "Hết hàng"}}</td>
                <td><Button (click)="onXoa(products.id)">Xóa</Button></td>
            </tr>
        </tbody>
    </table>
</div>